@import "../../../global.scss";

.confirmationContainer {
	width: 100%;

	.resumeContainer {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.infoContainer {
		padding: 50px;
		margin-top: 60px;
		width: 50%;
		background-color: $secondaryColor;
		border-radius: 15px;
		display: flex;
		flex-direction: column;
		gap: 30px;
		.containerRow {
			display: flex;
			gap: 10px;
			span {
				font-size: 20px;
				color: $primaryColor;

				&.bold {
					font-weight: 700;
					margin-left: 10px;
				}
			}
		}
	}
}
button {
	width: 100%;
	padding: 8px 20px;
	font-size: 16px;
	background-color: $primaryColor;
	border: 2px solid $primaryColor;
	border-radius: 5px;
	color: $secondaryColor;
	cursor: pointer;
}

@media (max-width: 500px) {
	.confirmationContainer {
		h3 {
			text-align: center;
		}

		.infoContainer {
			width: 90%;

			.containerRow {
				span {
					text-align: center;
					font-size: 20px;
					color: $primaryColor;

					&.bold {
						font-weight: 700;
						margin-left: 10px;
					}
				}
			}
		}
	}
}
