@import "../../../global.scss";

.formContainer {
	width: 100%;
	display: flex;
	justify-content: center;
	.form {
		padding: 50px;
		border-radius: 3px;
		display: flex;
		flex-direction: column;
		gap: 30px;
		h3 {
			font-size: 40px;
			color: $secondaryColor;
			text-align: center;
		}

		.divider {
			display: flex;
			gap: 20px;
		}
		.inputContainer {
			display: flex;
			justify-content: center;
			align-items: center;

			input {
				width: 100%;
				margin-left: 5px;
				padding: 10px 20px;
				border-radius: 5px;
				outline: 2px solid $black;
				font-size: 15px;

				&:focus {
					outline: 2px solid $lightPurple;
				}
			}

			.signUpLink {
				width: 100%;
				color: $black;
				font-size: 15px;
				font-style: italic;
				text-align: left;
			}

			button {
				width: 100%;
				padding: 8px 20px;
				font-size: 16px;
				background-color: $secondaryColor;
				border: 2px solid $secondaryColor;
				border-radius: 5px;
				color: $primaryColor;
			}
		}
	}
}

@media (max-width: 600px) {
	.formContainer {
		.form {
			width: 100%;
			.divider {
				display: flex;
				flex-direction: column;
				gap: 30px;
			}
			.inputContainer {
				display: flex;
				justify-content: center;
				align-items: center;

				input {
					padding: 10px 20px;
					font-size: 14px;
				}

				.signUpLink {
					width: 100%;
					color: $black;
					font-size: 12px;
					font-style: italic;
				}

				button {
					width: 100%;
					padding: 8px 20px;
					font-size: 16px;
					background-color: $secondaryColor;
					border: 2px solid $secondaryColor;
					border-radius: 5px;
					color: $primaryColor;
				}
			}
		}
	}
}

@media (min-width: 601px) and (max-width: 1100px) {
	.formContainer {
		.form {
			width: 80%;
			.divider {
				display: flex;
				flex-direction: column;
				gap: 30px;
			}
			.inputContainer {
				display: flex;
				justify-content: center;
				align-items: center;

				input {
					width: 100%;
					padding: 10px 20px;
					font-size: 14px;
				}

				.signUpLink {
					width: 100%;
					color: $black;
					font-size: 12px;
					font-style: italic;
				}

				button {
					width: 100%;
					padding: 8px 20px;
					font-size: 16px;
					background-color: $secondaryColor;
					border: 2px solid $secondaryColor;
					border-radius: 5px;
					color: $primaryColor;
				}
			}
		}
	}
}
